@import "partials/mixins";
.subview {
    height: 100%;
    left: 0%;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    .subview-loading {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: #ffffff;
        .loadpicture {
            width: 100%;
            height: 100%;
            background-size: ptr(378px) ptr(280px);
        }
    }
    .subview-content {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: auto;
        &>div:first-child {
            -webkit-overflow-scrolling: touch;
            position: absolute;
            width: 100%;
            height: 100%;
            overflow-y: auto;
            //background-color: #ccc;
        }
    }
    .page {
        height: 100%;
        width: 100%;
        overflow: hidden;
        background: #f0eff5;
        position: relative;
        color: inherit;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        box-orient: vertical;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hideView {
        padding-left: ptr(25px);
        font-size: ptr(30px);
        color: #fff;
        i,
        span {
            vertical-align: middle;
        }
    }
    .paddingtop {
        height: ptr(40px);
        background-color: #3799F7;
    }
    .view {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .fw-header {
        height: ptr(80px);
        background-color: #3799F7;
        color: #fff;
        .right {
            font-size: ptr(30px);
            text-align: right;
            padding-right: ptr(25px);
        }
        h1 {
            font-size: ptr(34px);
            font-weight: normal;
            line-height: inherit;
            margin: 0;
            text-align: center;
        }
    }
    .icon-back {
        width: ptr(21px);
        height: ptr(36px);
        margin-right: ptr(7px);
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: ptr(21px) ptr(36px);
        background-image: url('~img/icon-back.png');
    }
   
    .blue {
        color: #28ACB2;
    }
}
