#common{
    width: 100%;
    min-width: 1380px;
    margin: 0 auto; // background: url('~img/main.jpg') no-repeat center top;
    background-color:#fff;
    letter-spacing: 1px;
    .box{ 
        width: 100%;
        text-align: center;
        margin-top: 110px;
    }
    .topBox {
        height: 500px;
        color: #fff; 
        background: url('~img/banner.jpg') no-repeat center top;
        background-size: cover;
        ul {
          margin-top: 20px;
        }
        li {
          list-style: none;
        margin-left: 40px;
          img{
            width:200px;
            display: block 
          }
          &.item{
            width: 110px;
            text-align: center;
          }
        }
        
        .topBoxleft {
          li {
            width: 100px;
          }
        }
        .topBoxright {
          li {
            width: 60px;
          }
          .blueBtn {
            margin-left: 10px;
            width: 135px;
            height: 46px;
            line-height: 46px;
            text-align: center;
            background-color: #3FA3FB;
          }
        }
        .content {
          position: relative;
        }
        .count {//定位修改质量云平台
          position: absolute;
          top: 160px;
         left: 92px;
         h2{
             font-size: 46px;
             font-weight: 400;
             line-height: 20px;
         }
         span{
            display: block;
            line-height: 40px;
            font-size: 20px;
         }
        p{
           height: 46px;
           width: 174px;
           background-color: #3ea3fa;
           text-align: center;
           line-height: 46px;
           margin-top: 20px;
        }
          .number {
            font-size: 110px;
            border: 2px solid #5AA6DA;
            border-radius: 10px;
            margin-left: 15px;
            height: 136px;
            display: inline-block;
            line-height: 136px;
            width: 80px;
            text-align: center;
          }
          .comma {
            font-size: 110px;
            display: inline-block;
            width: 35px;
            text-align: center;
          }
        }
      }

}